.r-x-box {
	width: 50px;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	left: 0;
	position: fixed;
	left: 50%;
	margin-left: -553px;
	position: fixed;
	top: 370px;
}

.r-x1 {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.r-x-5 {
	background: url(http:// i.tq121.com.cn/i/news/right-d9.png) no-repeat;
}

.r-x-5:hover {
	background: url(http:// i.tq121.com.cn/i/news/right-d10.png)//no-repeat;
}

.r-x-7 {
	background: url(http:// i.tq121.com.cn/i/news/right-d13.png) no-repeat;
}

.r-x-7:hover {
	background: url(http:// i.tq121.com.cn/i/news/right-d14.png)//no-repeat;
}

.r-x-8 {
	background: url(http:// i.tq121.com.cn/i/weather2017/left_d1.png)//no-repeat;
}

.r-x-8:hover {
	background: url(http:// i.tq121.com.cn/i/weather2017/left_d2.png)//no-repeat;
}